<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanb.daqsoft.baselib" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <service android:name=".utils.update.DownloadService"/>
        <provider
            android:name=".utils.update.AppUpdaterFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_updater_paths"/>
        </provider>
        <activity
            android:name=".mvvmbase.crash.DefaultErrorActivity"
            android:process=":error_activity" />
        <activity
            android:name=".mvvmbase.base.ContainerActivity"
            android:configChanges="orientation|keyboardHidden"></activity>
        <provider
            android:name=".mvvmbase.crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />

    </application>
</manifest>
