<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daqsoft.imgselected" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name="com.daqsoft.imgselected.ui.MatisseActivity"/>
        <activity android:name="com.daqsoft.imgselected.internal.ui.AlbumPreviewActivity"/>
        <activity android:name="com.daqsoft.imgselected.internal.ui.SelectedPreviewActivity"/>
    </application>
</manifest>
